/* styles/place-large.css */

@media screen and (min-width: 768px) {

    main {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .hero {
        grid-column: 1 / 3;
    }

    .card {
        min-height: 300px;
    }

    /* PSEUDO ELEMENT REQUIREMENT */

    .weather h2::after {
        content: " ⛅";
    }

    /* Hide SVG icon in large view */

    .weather-icon {
        display: none;
    }
}